= form_for @detallepedido do |f|
  - if @detallepedido.errors.any?
    #error_explanation
      %h2= "#{pluralize(@detallepedido.errors.count, "error")} prohibited this detallepedido from being saved:"
      %ul
        - @detallepedido.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :cantidad
    = f.number_field :cantidad
  .field
    = f.label :costo_unit
    = f.number_field :costo_unit
  .field
    = f.label :costo_total
    = f.number_field :costo_total
  .field
    = f.label :comentario
    = f.text_area :comentario
  .field
    = f.label :producto
    = f.text_field :producto
  .field
    = f.label :pedido
    = f.text_field :pedido
  .actions
    = f.submit 'Save'
